alias reload='source ~/.zshrc'
alias d='docker'
alias cat='bat'
alias k='kubectl'
alias g='git'
alias tf='terraform'
alias idea='open -na "IntelliJ IDEA CE" --args "$@"'
alias ls='lsd --header --long --classify --sort size --color always --icon never'
